[submodule "type-dsa"]
	path = type-dsa
	url = https://github.com:saiashirwad/type-dsa
[submodule "type-system-chess"]
	path = type-system-chess
	url = https://github.com:Dragon-Hatcher/type-system-chess
[submodule "typelang"]
	path = typelang
	url = https://github.com/ronami/typelang
